vl-map.map(
  ref="map"
  :zoom="zoom"
  :center="center"
  :options="options"
  @l-moveend="handleChangeBoundingBox"
  @l-zoomend="handleChangeBoundingBox"
  @l-contextmenu="handleContextMenu"
)
  vl-tilelayer(
    :url="url"
    :attribution="attribution"
  )
  vl-marker(
    v-for="poim in poims"
    :key="poim.id"
    :lat-lng="poimLatLong(poim)"
    :icon="poimLeafletIcon(poim, selectedPoim && selectedPoim.id === poim.id)"
    @l-click="handleClickMarker($event, poim.id)"
  )
  vl-marker(
    v-if="newPoimExist"
    :lat-lng="poimLatLong(newPoim)"
    :icon="newPoimLeafletIcon()"
    :zIndexOffset="1000"
    :options="newMarkerOptions"
    @l-click="handleClickNewMarkerCancel($event)"
  )
  .new-marker-contextmenu(
    ref="newMarkerContextMenu"
    v-if="newPoimExist && ! newPoimFormVisible"
    :style="{top: newMarkerPositionTop, left: newMarkerPositionLeft}"
  )
    button.contentmenu-item.add(
      @click="handleClickNewMarkerAdd($event)"
    ) Añadir POIM
    button.contentmenu-item.cancel(
      @click="handleClickNewMarkerCancel($event)"
    ) Cancelar

