vl-map.map(
  ref="map"
  :zoom="zoom"
  :min-zoom="minZoom"
  :center="center"
  :options="options"
  @l-moveend="handleChangeBoundingBox"
  @l-zoomend="handleChangeBoundingBox"
  @l-contextmenu="handleContextMenu"
)
  vl-tilelayer(
    :url="url"
    :attribution="attribution"
  )
  vl-marker(
    v-for="poim in poims"
    :key="poim.id"
    :lat-lng="poimLatLong(poim)"
    :icon="poimLeafletIcon(poim, selectedPOIM && selectedPOIM.id === poim.id)"
    @l-click="handleClickMarker($event, poim.id)"
  )
  vl-marker(
    v-if="newPOIMExist"
    ref="newPOIMMarker"
    :lat-lng="poimLatLong(newPOIM)"
    :icon="newPOIMLeafletIcon()"
    :zIndexOffset="1000"
    :options="newMarkerOptions"
    @l-add="handleAddNewMarker($event)"
    @l-click="handleClickNewMarkerCancel($event)"
  )
    vl-popup(
      ref="newPOIMPopup"
      :options="newMarkerPopupOptions"
    )
      div.new-marker-contextmenu
        button.contentmenu-item.add(
          @click="handleClickNewMarkerAdd($event)"
        ) Añadir POIM
        button.contentmenu-item.cancel(
          @click="handleClickNewMarkerCancel($event)"
        ) Cancelar

