.signin
  .signin-content
    include ../../assets/img/icons/skull-map.svg
    h1.title PUFOMAP

    ul.signin-nav
      li
        a(href="#").current LOG IN
      li
        a(href="#") SIGN UP

    form.signin-form(
      @submit.prevent="handleSubmit()"
      autocomplete="off"
    )
      label(for="email") Email
      input(
        id="email"
        name="email"
        type="text"
        placeholder="Enter email"
        required
        v-model="email"
      )
      label(for="password") Password
      input(
        id="password"
        name="password"
        type="password"
        placeholder="Enter password"
        required
        v-model="password"
      )
      input.btn-login(type="submit" value="LOG IN")
