.signin
  .signin-content
    include ../../assets/img/icons/skull-map.svg
    h1.title MAGUFOMAP

    ul.signin-nav
      li
        a(href="#").current LOG IN
      li
        a(href="#") SIGN UP
    form.signin-form(
      @submit.prevent="handleSubmit()"
      autocomplete="off"
    )
      .error(v-if="error") {{ error }}
      label(for="username") Nombre de usuario
      input(
        id="username"
        name="username"
        type="text"
        placeholder="Escriba su nombre de usuario"
        required
        v-model="username"
      )
      label(for="password") Contraseña
      input(
        id="password"
        name="password"
        type="password"
        placeholder="Escriba su contraseña"
        required
        v-model="password"
      )
      input.btn-login(
        type="submit"
        value="LOG IN"
        :disabled="isLoading"
        :class='{loading: isLoading}'
      )
